.profile-picture {
  position: relative;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;

  background-size: 100%;
  background-position: center center;
}

#profile-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 3rem;
  font-family: cursive;
}

#follow-p {
  left: 10rem;
  font-size: 1.2rem;
  font-family: cursive;
}


button {
  margin: 0.5rem;
}

span{
  margin: 0.8rem;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mat-tab-group, mat-tab{
  align-items: center;
}

.post-image {
  object-fit:cover;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

mat-grid-tile {
  background: lightblue;
}
