<p>
  <mat-toolbar color="primary">
    <button mat-button class="logo-button"><span routerLink="/home">Dogstagram</span></button>
    <span class="example-spacer"></span>
<div>
  <button  mat-icon-button (click)="createPostDialog()">
    <mat-icon>add_box</mat-icon>
  </button>
  <button  mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div  class="example-button-row">
      <button type="button" mat-button mat-icon-button routerLink="/profile" class="example-label">
        <mat-icon class="icon">account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <div  class="example-button-row">
        <button mat-button (click)="logout()" mat-icon-button class="example-label">
          <mat-icon class="icon">output</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </mat-menu>
 </div>
</mat-toolbar>
</p>
